@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  overflow: hidden;
  background-color: #fee0ae;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
}
